@charset "utf-8";

*{
    box-sizing:border-box;
}
body{
    margin:0;
    font-family: "游ゴシック体",YuGothic,"游ゴシック",Yu Gothic,sans-serif;
    background-image:url(../images/bg.jpg);
}
img{
    display:block;
}
.wrapper{
    width: 960px;
    margin:0 auto;
    padding:20px;
    background-color: #fff;
}
.header_top{
    margin-bottom:40px;
}
.header_top h1{
    margin:0;
    font-size:28px;
    color:#513743;
}
.contents-wrapper{
    display:flex;
    justify-content:space-between;
    margin-bottom:60px;
}
main{
    width:600px;
}
.content {
    margin-bottom: 40px;
}
.content h2{
    padding:10px;
    border-left:8px solid #f7b977;
    border-bottom:1px dashed #513743;
    font-size:22px;
    color: #513743;
}

aside {
    width:300px;
    margin-top:11px;
}
section{
    margin-bottom:40px;
}
section h3{
    padding:8px;
    border-bottom: 1px solid #513743;
    font-size:18px;
    color:#513743;
}
.footer_top{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    background-color:#e6cde3;
    text-align:center;
}
.footer_top small{
    font-size:14px;
    color:#fff;
    text-align: center;
}
